gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# Keystore exclusion with exception for android/signing
key.properties
**/*.keystore
!signing/**/*.keystore
**/*.jks
!signing/**/*.jks

